.header{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: salmon;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
}

.title{
    margin-top: 30px;
    font-weight: bold;
    font-size: xx-large;
}

.three-options{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 40px;
    margin-top: 30px;
    font-size: x-large;
}

.body-boxes{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.dotted-boxes{
    border: 5px dotted black;
    width: 100%;
    height: 450px;
}

.html-image{
    float: left;
    height: 200px;
    width: 200px;
    clear: left;
}

.css-image{
    float: right;
    height: 200px;
    width: 200px;
}


p{
    font-size: large;
}

img{
    height: 200px;
    width: 175px;
}